<!--
  Step 1: This is your descretion how you would like to display data,
  but you must list display only one document based on the passed ID.
-->

<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>
      <h2>Thanks for contacting Us! we will get in touch with you as soon as possible</h2>
      <%= resource.user.fullname %>
      <a href="/resources/<%= resource.id %>/edit">
        <i class="fa fa-edit"></i>
      </a>
    </h1>
    <br>
    <small>
      <%= (resource.updatedAt.toLocaleString("en-CA")) %>
    </small>
    <p><strong>You will be contacted Via: <%= resource.contactType %></strong></p>
  </header>
  <hr>
  <div class="strategy">
    <%- resource.phoneNumber %>
  </div>
</div>

<%- include ('../partials/footer') %>